<h1>
Payment Results
</h1>
<h3>
APR
</h3>
<h4>
<%= @apr %>
</h4>
<h3>
Number of years
</h3>
<h4>
<%= @years %>
</h4>
<h3>
Principal
</h3>
<h4>
<%= @principal %>
</h4>
<h3>
Payment
</h3>
<h4>
<%= number_to_currency(@monthly_payment_final) %>
</h4>
