<h1>Random Calculation</h1>

<form action="/random/results">
  <div>
    <label for="@min">Minimum</label>
      <input type="text" id="@min" name="user_number_1"/>
  </div>
  <div>
    <label for="@max">Maximum</label>
      <input type="text" id="@max" name="user_number_2"/>
  </div>
    <button>Pick random number</button>
</form>
