<h1>
Random Results
</h1>
<h3>
Minimum
</h3>
<h4>
<%= @min %>
</h4>
<h3>
Maximum
</h3>
<h4>
<%= @max %>
</h4>
<h3>
Random Number
</h3>
<h4>
<%= @random_num %>
</h4>

<%= link_to "Recalculate", "/random/results?user_number_1=-2.5&user_number_2=3.5" %>
