<h1>
Random Results
</h1>
<h3>
Minimum
</h3>
<h4>
<%= @min %>
</h4>
<h3>
Maximum
</h3>
<h4>
<%= @max %>
</h4>
<h3>
Principal
</h3>
<h4>
<%= @random_num %>
</h4>

<a href="http://localhost:3000/random/results">
  Recalculate
</a>
